$mask: conic-gradient(#0000 20%, #000), linear-gradient(#000 0 0) content-box;

.loader {
    width: 10px;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #5a19b3;
    -webkit-mask: $mask;
    mask: $mask;
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;

    &.small {
        width: 10px;
        padding: 4px;
    }

    &.medium {
        width: 20px;
        padding: 8px;
    }

    &.large {
        width: 30px;
        padding: 12px;
    }
}
@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}
