.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    align-items: center;

    &.primary {
        background-color: #f9f9f9;
        color: #1a1a1a;

        &:hover {
            border-color: #646cff;
        }

        @media (prefers-color-scheme: light) {
            background-color: #1a1a1a;
            color: #f9f9f9;
        }
    }

    &.secondary {
        background-color: #1a1a1a;

        &:hover {
            border-color: #646cff;
        }

        @media (prefers-color-scheme: light) {
            background-color: #f9f9f9;
        }
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}
