.infinite-scroll {
    height: 70vh;
    overflow-y: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
}
